.App {
  text-align: center;
  width: 60vw;
  margin: 3rem auto;
}
.btn-lap {
  background-color: #e9ab4d;
  color: white;
}

.inputName {
  width: 200px;
  display: inline;
}
.table {
  text-align: left;
}
.item {
  margin-right: 10px;
}
.addName {
  margin-right: 40px;
}
.footer {
  background-color: #fbfbfb;
}
.title {
  margin-bottom: 30px;
}
